# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment variables
.env
.env.*

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Testing
coverage
test

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
README.md
*.md
.DS_Store 